@import url("reset.css");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {

  background: linear-gradient(
    145deg,
    rgb(15, 42, 31) 0%,
    rgb(18, 52, 38) 20%,
    rgb(21, 68, 49) 40%,
    rgb(21, 80, 56) 60%,
    rgb(18, 102, 68) 80%,
    rgb(17, 129, 84) 100%,
    rgb(21, 80, 56) 80%,
    rgb(21, 68, 49) 60%,
    rgb(18, 52, 38) 40%,
    rgb(15, 42, 31) 20%
);

  scroll-behavior: smooth;
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;

  text-align: justify; 
}

.container-site {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.header {
  width: 50vw;
  height: 100vh;

  padding: 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

.content {
  width: 50vw;
}

.section {
  height: 100vh;

  display: flex;
}

.title-text-developer {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.subtitle-text-developer {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.nav-item-link {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-list-item {
  padding: 20px 0 0 0;
}

.title-nav-item {
  font-size: 20px;
  color: #bfbfbf;
  padding-left: 65px;
}

.decoration-nav-link {
  position: absolute;
  left: 0;
  height: .5px;
  width: 50px;
  background-color: #bfbfbf;
}

.title-nav-item,
.decoration-nav-link {
  opacity: .5;
  transition: .5s ease, opacity .5s ease;
}

.nav-item-link.active .title-nav-item {
  padding-left: 95px;
  opacity: 1;
  transition: .5s ease, opacity .5s ease;
}

.nav-item-link.active .decoration-nav-link {
  width: 80px;
  opacity: 1;
  transition: .5s ease, opacity .5s ease;
}

.nav-item-link:hover .title-nav-item:not(.active) {
  padding-left: 95px;
  opacity: 1;
  transition: .5s ease, opacity .5s ease;
}

.nav-item-link:hover .decoration-nav-link:not(.active) {
  width: 80px;
  opacity: 1;
  transition: .5s ease, opacity .5s ease;
}

.contact__wrapper {
  display: flex;
  gap: 30px;
}

.contact__wrapper a {
  font-size: 30px;
  color:#bfbfbf;
  opacity: .5;
  transition: opacity .5s ease;
}

.contact__wrapper a:hover {
  opacity: 1;
  transition: opacity .5s ease;
}

.container-content {
  align-self: center;
}

.about-text {
  margin-bottom: 20px;
}

.about-text:last-child {
  margin-bottom: 0;
}


.title-section {
  display: none;
}

.wrapper-education-info:last-child,
.soft-skills {
  margin-top: 20px;
}

.name-speciality,
.skills-title,
.info__title {
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 20px;
}

.name-place-education {
  margin-bottom: 10px;
}

.years {
  font-size: 12px;
}

.skills-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.skills-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-color: #bfbfbf; 
}

.portfolio__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio__wrapper {
  padding: 10px;

  display: flex;
  gap: 20px;

  border-radius: 10px;
  transition: all .5s ease;
}

.portfolio__wrapper:hover {
  border-radius: 10px;
  background-color: rgba(191, 191, 191, 0.3);
  transition: all .5s ease;
}

.portfolio__img {
  width: 30%;
  height: 40%;

  border: 4px solid rgba(191, 191, 191, 0.5);
  border-radius: 10px;
  
}

.portfolio__info {
  width: 70%;
}

.info__title,
.info__text {
  color: #bfbfbf;
}

.info__text {
  margin-bottom: 20px;
}

.technologies {
  display: flex;
  align-items: center;
  gap: 20px
}

.technologies__item {
  width: 30%;
  background-color: rgba(191, 191, 191, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(15, 42, 31);
  text-align: center;
}

@media screen and (max-width: 950px) {
  .container-site {
    flex-direction: column;
  }

  .header {
    position: relative;
  }

  .header,
  .content {
    width: 100%;
    height: 100%;
  }

  nav {
    display: none;
  }

  .section {
    height: 100%;
    margin-bottom: 100px;
  }

  .section:last-child {
    margin: 0;
  }

  .title-section {
    display: block;

    font-weight: 600;
    margin-bottom: 20px;
  }

  .subtitle-text-developer,
  .title-section {
    font-size: 22px;
  }

  .portfolio__wrapper {
    cursor:none;
  }
  
}
