@import url("reset.css");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {

  background: linear-gradient(
    145deg,
    rgb(15, 42, 31) 0%,
    rgb(18, 52, 38) 20%,
    rgb(21, 68, 49) 40%,
    rgb(21, 80, 56) 60%,
    rgb(18, 102, 68) 80%,
    rgb(17, 129, 84) 100%,
    rgb(21, 80, 56) 80%,
    rgb(21, 68, 49) 60%,
    rgb(18, 52, 38) 40%,
    rgb(15, 42, 31) 20%
);

  scroll-behavior: smooth;
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container-site {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.header {
  width: 50vw;
  height: 100vh;

  padding: 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

.content {
  width: 50vw;
}

.section {
  height: 100vh;

  display: flex;
}

.title-text-developer {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.subtitle-text-developer {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.nav-item-link {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-list-item {
  padding: 20px 0 0 0;
}

.title-nav-item {
  font-size: 20px;
  color: #bfbfbf;
  padding-left: 65px;
}

.decoration-nav-link {
  position: absolute;
  left: 0;
  height: 0.5px;
  width: 50px;
  background-color: #bfbfbf;
}

.title-nav-item,
.decoration-nav-link {
  opacity: 0.5;
  transition: 0.5s ease, opacity 0.5s ease;
}

.nav-item-link.active .title-nav-item {
  padding-left: 95px;
  opacity: 1;
  transition: 0.5s ease, opacity 0.5s ease;
}

.nav-item-link.active .decoration-nav-link {
  width: 80px;
  opacity: 1;
  transition: 0.5s ease, opacity 0.5s ease;
}

.nav-item-link:hover .title-nav-item:not(.active) {
  padding-left: 95px;
  opacity: 1;
  transition: 0.5s ease, opacity 0.5s ease;
}

.nav-item-link:hover .decoration-nav-link:not(.active) {
  width: 80px;
  opacity: 1;
  transition: 0.5s ease, opacity 0.5s ease;
}

.contact__wrapper {
  display: flex;
  gap: 30px;
}

.contact__wrapper a {
  font-size: 30px;
  color:#bfbfbf;
}

.container-content {
  align-self: center;
}

.about-text {
  text-align: justify; 
  /* align-self: center;  */
  margin-bottom: 20px;
}

.about-text:last-child {
  margin-bottom: 0;
}


.title-section {
  display: none;
}

.wrapper-education-info:last-child {
  margin-top: 20px;
}

.name-speciality {
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 20px;
}

.name-place-education {
  margin-bottom: 10px;
}

.years {
  font-size: 12px;
}

@media screen and (max-width: 950px) {
  .container-site {
    flex-direction: column;
  }

  .header {
    position: relative;
  }

  .header,
  .content {
    width: 100%;
    height: 100%;
  }

  nav {
    display: none;
  }

  .section {
    height: 100%;
    margin-bottom: 100px;
  }

  .section:last-child {
    margin: 0;
  }

  .title-section {
    display: block;
  }
}

/* @media screen and (max-width: 768px) {

}

@media screen and (max-width: 1000px) and (min-width: 768px) {

  } */
